In [1]:
import numpy as np
import pandas as pd
import pickle
import os
import glob

__outdir__ = os.path.expanduser('~')+'/PhD/Gaia_Project/Output/'
__datdir__ = os.path.expanduser('~')+'/PhD/Gaia_Project/data/KepxDR2/'

In [2]:
mlk = ['K_tempscale_Clump', 'APOKASC_K_tempscale_Clump']
mlg = ['GAIA_tempscale_Clump', 'APOKASC_GAIA_tempscale_Clump']

Lets tabulate the results for:
- No Correction
- Yu et al

In [25]:
def get_table(ml, typ):
    if typ == 'astero':
        labels=['$\mu_{\rm RC}$','mulo','muhi','$\sigma_{\rm RC}$','siglo','sighi',
        '$Q$','Qlo','Qhi','$\sigma_o$','sigolo','sigohi']
        indices = [str(ts) for ts in np.arange(-50., 60., 10.)]
    elif typ == 'gaia':
        labels=['$\mu_{\rm RC}$','mulo','muhi','$\sigma_{\rm RC}$','siglo','sighi',
            '$Q$','Qlo','Qhi','$\sigma_o$','sigolo','sigohi',
            '$L$', 'Llo', 'Lhi', '$\oozp$', 'oozplo','oozphi']
        indices = [str(ts) for ts in np.arange(-50., 100., 50.)]
        
    df = pd.DataFrame(columns=labels, index=indices)
    for idx in indices:
        sfile = glob.glob(__outdir__+ml+'/'+typ+'_'+str(idx)+'_chains.txt')
        chain = np.genfromtxt(sfile[0])
        for lis in np.arange(0, len(labels), 3):
            df.loc[idx][labels[lis]] = np.round(np.median(chain[lis/3]), 3)
            df.loc[idx][labels[lis+1]] = np.round(np.median(chain[lis/3]) - np.percentile(chain[lis/3], [15.9])[0],3)
            df.loc[idx][labels[lis+2]] = np.round(np.percentile(chain[lis/3], [84.1])[0] - np.median(chain[lis/3]),3)
    return df

In [27]:
df_clyu = get_table('K_tempscale_Clump', 'astero')
df_clyu

,$\mu_{ m RC}$,mulo,muhi,$\sigma_{ m RC}$,siglo,sighi,$Q$,Qlo,Qhi,$\sigma_o$,sigolo,sigohi
-50.0,-1.716,0.002,0.002,0.042,0.005,0.006,0.868,0.016,0.015,7.861,0.818,1.01
-40.0,-1.722,0.002,0.002,0.041,0.005,0.005,0.867,0.015,0.014,7.92,0.789,0.915
-30.0,-1.728,0.002,0.002,0.042,0.005,0.005,0.872,0.014,0.014,7.959,0.819,0.989
-20.0,-1.733,0.002,0.002,0.042,0.006,0.005,0.872,0.014,0.014,8.013,0.827,1.02
-10.0,-1.739,0.002,0.002,0.042,0.005,0.005,0.872,0.014,0.014,7.996,0.816,0.996
0.0,-1.744,0.002,0.002,0.041,0.005,0.005,0.871,0.014,0.013,8.084,0.768,0.925
10.0,-1.75,0.002,0.002,0.041,0.005,0.005,0.87,0.014,0.013,8.067,0.8,0.938
20.0,-1.755,0.002,0.002,0.04,0.005,0.005,0.868,0.014,0.013,8.175,0.812,0.97
30.0,-1.76,0.002,0.002,0.041,0.005,0.006,0.87,0.014,0.014,8.092,0.84,0.936
40.0,-1.766,0.002,0.002,0.04,0.005,0.005,0.869,0.014,0.015,8.169,0.829,1.015
50.0,-1.771,0.002,0.002,0.041,0.004,0.005,0.87,0.014,0.013,8.099,0.821,0.91

In [28]:
df_kgaiayu = get_table('Gaia_K_tempscale_Clump', 'gaia')
df_kgaiaapo = get_table('Gaia_APOKASC_K_tempscale_Clump', 'gaia')

In [20]:
df_kgaiayu.to_latex()

,$\mu_{ m RC}$,mulo,muhi,$\sigma_{ m RC}$,siglo,sighi,$Q$,Qlo,Qhi,$\sigma_o$,sigolo,sigohi,$L$,Llo,Lhi,$\oozp$,oozplo,oozphi
-50.0,-1.71,0,0,0.04,0,0.01,0.65,0.1,0.11,3.57,0.58,0.65,906.16,36.8,38.35,-20.62,12.58,12.51
0.0,-1.74,0,0,0.04,0,0,0.63,0.09,0.1,3.69,0.57,0.67,917.52,36.52,39.04,-15.72,12.34,12.57
50.0,-1.77,0,0,0.04,0,0,0.61,0.07,0.1,3.78,0.57,0.61,929.66,37.34,38.59,-11.15,12.5,12.82

In [21]:
df_kgaiaapo

,$\mu_{ m RC}$,mulo,muhi,$\sigma_{ m RC}$,siglo,sighi,$Q$,Qlo,Qhi,$\sigma_o$,sigolo,sigohi,$L$,Llo,Lhi,$\oozp$,oozplo,oozphi
-50.0,-1.63,0,0,0.06,0.01,0.01,0.81,0.14,0.1,2.99,0.62,0.75,872.8,35.52,36.4,-36.21,13.01,12.83
0.0,-1.66,0,0,0.06,0.01,0.01,0.82,0.13,0.09,2.94,0.65,0.77,884.1,35.09,36.77,-30.91,12.93,12.83
50.0,-1.69,0,0,0.06,0.01,0.01,0.82,0.14,0.1,2.87,0.63,0.74,894.89,35.93,38.14,-25.51,13.06,12.92

In [22]:
df_ggaiayu = get_table('Gaia_GAIA_tempscale_Clump', 'gaia')
df_ggaiaapo = get_table('Gaia_APOKASC_GAIA_tempscale_Clump', 'gaia')

In [23]:
df_ggaiayu

,$\mu_{ m RC}$,mulo,muhi,$\sigma_{ m RC}$,siglo,sighi,$Q$,Qlo,Qhi,$\sigma_o$,sigolo,sigohi,$L$,Llo,Lhi,$\oozp$,oozplo,oozphi
-50.0,0.34,0,0,0.19,0,0,0.99,0.05,0.01,2.35,1.08,1.21,946.19,37.96,40.69,-6.56,13.03,13.17
0.0,0.27,0,0,0.19,0,0,0.98,0.06,0.02,2.26,0.98,1.19,978.41,39.77,41.31,4.58,13.09,12.81
50.0,0.2,0,0,0.18,0,0,0.97,0.1,0.03,2.09,0.77,1.2,1009.01,41.46,42.14,15.22,13.33,13.25

In [24]:
df_ggaiaapo

,$\mu_{ m RC}$,mulo,muhi,$\sigma_{ m RC}$,siglo,sighi,$Q$,Qlo,Qhi,$\sigma_o$,sigolo,sigohi,$L$,Llo,Lhi,$\oozp$,oozplo,oozphi
-50.0,0.51,0,0,0.12,0.01,0.01,0.92,0.12,0.06,2.17,0.63,0.9,878.66,36.7,37.8,-32.06,12.9,12.9
0.0,0.43,0,0,0.12,0.01,0.01,0.91,0.13,0.07,2.14,0.59,0.9,909.22,37.07,38.26,-19.18,12.96,12.99
50.0,0.36,0,0,0.12,0.01,0.01,0.87,0.14,0.09,2.1,0.51,0.8,939.28,38.72,38.9,-7.14,12.57,12.79